{% from 'components/field.html' import render_field %}
{% extends "_layout.html" %}

{% block title %}
    {{ config.SITE_NAME }}
{% endblock %}

{% block header %}
    <h2>New user creation</h2>
{% endblock %}

{% block body %}
    <form method="POST" action="{{ request.url }}">
        {{ form.csrf_token }}
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
        <button type="submit">Create</button>
    </form>
{% endblock %}
