body {
    background-color: #eee;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 80%;
    margin: auto auto;
}

.hidden {
    display: none !important;
}

.text-muted {
    color: #888;
}

.text-center {
    text-align: center;
}

hr {
    border: none;
    color: #888;
    background-color: #888;
    height: 1px;
}

ul.list-inline > li {
    display: inline-block;
}

.navbar, .navbar-body {
    display: flex;
    flex-wrap: wrap;
}

.navbar-body {
    flex: 1;
}

.nav-link {
    text-decoration: none;
    color: #222;
    font-weight: 600;
    font-size: 24px;
}

.navbar-brand {
    font-size: 32px; 
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar-right {
    margin-left: auto;
}

ul.navbar-nav > li {
    display: inline-flex;
    margin-right: 1em;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.inline {
    display: inline-flex;
}

.keep-height:before {
    content: "\200b";
}

.big-link {
    font-size: 26px;
}
