{% extends "_layout.html" %}

{% block title %}
    {{ config.SITE_NAME }}
{% endblock %}

{% block header %}
    <h2>Students requested to study {{ course.abbreviation }}</h2>
    <h3>Registered students: {{ count_registered }}/{{ course.capacity }}</h3>
{% endblock %}

{% block body %}
    {% if requests %}
        <table>
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Time</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for request in requests %}
                    <tr>
                        {% autoescape true %}
                            <td>{{ request.get_requester().username }}</td>
                            <td>{{ request.created_ts|format_datetime }}</td>
                            <td><a href="{{ url_for('auth.accept_study', id=request.id) }}">Accept</a></td>
                            <td><a href="{{ url_for('auth.reject_study', id=request.id) }}">Reject</a></td>
                        {% endautoescape %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>No requests to process...</h3>
    {% endif %}
{% endblock %}

{% block footer %}
{% endblock %}
