{% extends "_layout.html" %}

{% block title %}
    {{ course.abbreviation }}
{% endblock %}

{% block header %} 
    <h1>{{ course.abbreviation }}</h1>
{% endblock %}

{% block body %}
    <h2>desription: </h2><a>{{ course.description }}</a>
    <h2>type: </h2><a>{{ course.type }}</a>
    <h2>capacity: </h2><a>{{ course.capacity }}</a>
    <h2>guarantor: </h2><a>{{ course.get_guarantor().username }}</a>
    <h2>teachers: </h2>
    {% for teacher in teachers %}
        <a>{{ teacher.username }}, </a>
    {% endfor %}
    <h2>terms:</h2>
    {% if terms %}
        <table>
            <tr><th>name</th><th>type</th><th>description</th><th>deadline</th><th>room</th><th>rathing</th></tr>
            {% for term in terms %}
                <tr>
                    <td>
                        {% if user_type == "teacher" or user_type == "guaranthor" %}
                            <a href="{{ url_for('auth.term_detail', id=term.id) }}">{{ term.name }}</a>
                        {% else %}
                            <a>{{term.name}}</a>
                        {% endif %}
                    </td>
                    <td>{{ term.type }}</td>
                    <td>{{ term.description }}</td>
                    <td>{{ term.date|format_datetime }}</td>
                    <td>{{ term.room }}</td>
                    <td>
                        {% if user_type == "student" %}
                            {{term.get_body(current_user)}} /
                        {% endif %}
                         {{ term.max_body }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <a>there are no terms for this course</a>
    {% endif %}
    {% if user_type == "teacher" or user_type == "guaranthor" %}
    <a href="{{ url_for('auth.create_term', id=course.id) }}">
        <button>Add term</button>
    </a>
    {% endif %}
    <h2>news:</h2>
    {% if news %}
    <table>
        <tr><th>message</th><th>created</th></tr>
        {% for new in news %}
            <tr>
                <td>
                    {% if user_type == "teacher" or user_type == "guaranthor" %}
                        <a href="{{ url_for('auth.create_news', c_id=course.id, n_id=new.id) }}">{{ new.da_newz }}</a>
                    {% else %}
                        <a>{{ new.da_newz }}</a>
                    {% endif %}
                </td>
                <td>{{ new.created_ts|format_datetime }}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <a>there are no news for this course</a>
    {% endif %}
    {% if user_type == "teacher" or user_type == "guaranthor" %}
    <a href="{{ url_for('auth.create_news', c_id=course.id, n_id=-1) }}">
        <button>Add news</button>
    </a>
    {% endif %}
    {% if user_type == "teacher" or user_type == "guaranthor" %}
    <h2>registered students:</h2>
        {% if students %}
        <table>
            <tr><th>login</th><th>points</th></tr>
            {% for student in students %}
                <tr>
                    <td>{{ student.username }}</td>
                    <td>{{ student.get_body_for_course(course)}}</td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <a>there are no students registered for this course</a>
        {% endif %}

    {% endif %}
{% endblock %}

{% block footer %}
{% endblock %}
